body{
font-family: 'Ubuntu', sans-serif;
}

.logo{
    width:20%;
    min-height:100px;
    color: black;
    background:white;
    font-weight: bold;
    border: 5px solid white;
    font-size: 60px
    
}

.flex-container{
    display: flex;
    align-items: space-evenly;
    flex-direction: row;

}
.menu{
    width:20%;
    min-height:100px;
    color: black;
    background:white;
    font-weight: bold;
    border: 5px solid white;
    font-size: 14px;
    margin-top: 1cm
}

.imagen {
     width:100%; height: auto;

}

