.clase1 {
    width:100%;
    height:300px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px;
    
}

.clase1b {
    width:60%;
    height:100px;
    color: black;
    background: rgb(153, 152, 152);
    font-weight: bold;
    text-align: center;
    margin: auto
}
 
.clase2 {
    width:100%;
    height:100px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px
}
 
.clase3 {
    width:20%;
    height:170px;
    color: black;
    float: left;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px

}
 
.clase4 {
    width:78.59%;
    height:170px;
    color: black;
    float: left;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px;
    margin: auto
    
}
 
.clase5 {
    width:100%;
    height:30px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    float: left;
    border: 5px solid white;
    font-size: 23px
}

.foto {
    width:300;
    height:20px;
    background: rgb(217, 217, 217);
    text-align: center;
    float: left;
}
 